.AppLeft {
  .Block;

  color: #323b39;
  background-color: rgb(223, 217, 217);
}

.AppRight {
  .Block;

  color: rgb(73, 73, 73);
  background-color: #d9dddc;
}

.Block {
  float: left;
  width: 34%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 8%;
  margin-right: 8%;
  height: 150px;
  background-color: #cccecd;
}

.Detail {
  background-color: antiquewhite;
  height: 125px;
}

.Border {
  height: 25px;
  border: 0px;
}

.Footer {
  margin-bottom: 1%;
  margin-left: 8%;
}
