.AppLeft {
  float: left;
  color: #09d3ac;
  background-color: brown;
  width: 28%;
  margin: 1%;
}

.AppRight {
  float: left;
  color: aquamarine;
  background-color: #09d3ac;
  width: 68%;
  margin: 1%;
}

.Border {
  border: 1px solid gray;
}

.Footer {
  float: left;
  width: 100%;
}
